/3D/LLFF_Data
.DS_Store
/DepthEstimation/depth_anything/__pycache__
/DepthEstimation/imgs
/DepthEstimation/output
/StableDiffusion/data
/StableDiffusion/images
/StableDiffusion/sd/__pycache__
/StableDiffusion/src/__pycache__
/data
/VLM/weights
/VLM/__pycache__